PORT=3000

# DB_TYPE=sqlite - для швидкого запуску без докера (./data/swapi.sqlite)
# DB_TYPE=postgres - повний режим через docker-compose
DB_TYPE=sqlite
SQLITE_FILE=./data/swapi.sqlite

# (для postgres)
DB_HOST=localhost
DB_PORT=5432
DB_USER=swapi
DB_PASSWORD=swapi
DB_NAME=swapi

# swapi.dev часом лежить - за замовчуванням працюємо через дзеркало
SWAPI_BASE_URL=https://swapi.py4e.com/api

UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=5
